.navbar{
    position:relative;
    z-index:3;
    height: 13rem;
    text-align: center;
    height: 100%;

}

.navbar-content{
    display: block;
}

.navbar-content ul{
    display: block;
}

.navbar-content ul li a{
    font-size: 1.2rem;
    display: inline-block;
    color: aqua;
    padding: 0.5rem 1.2rem;
}

.showcase {
    height: calc(100vh - 13rem);
}

.info{
    max-height: 70vh;
    display: block;
    height: 100%;
    
}

.info-img{
    display: none;
}
.info-content{
    width: 100%;
    padding: 2rem 1rem;
}
.info-content p{
    padding: 2rem 1rem;
    line-height: 1.5rem;
}

.features{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box{
    padding: 2rem 1rem;
}
.box h3{
    padding: 1rem 0;
}

/* about page */
.about .container {
    display: flex;
    height: 100%;
    /* width: 100vh; */
    padding: 0 1rem;
}

.about-img{
    display: none;
}
.about-content{
    height: 100%;
}

.testimonials{
    height: 100%;
}

.contact-info{
    display: block;
    height: 100%;
}
